{% extends 'main.html' %}
{% load static %}
{% block content %}


<h1 style="color: red;">Project template</h1>

<table>
    <tr>
        <th>Project</th>
        <th>Positive Votes</th>
        <th>Votes</th>
        <th>Created At</th>
    </tr>
{% for project in projects %}
    <tr>   
        <td>{{project.title}}</a></td>
        <td>{{project.vote_ratio}}%</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.created}}</td>
        <td><a href="{% url 'update_project' project.id %}">Edit</a></td>
        <td><a href="{% url 'delete_project' project.id %}">Delete</a></td>
        <td><a href="{% url 'project' project.id %}">View</a></td>
    </tr> 
{% endfor %}

</table>

{% endblock content %}